body {
  margin: 0;
  overflow: hidden;
  background-color: #ecf0f1; /* Set a default background color */
  transition: background-color 0.3s ease;
  color: rgb(0, 0, 0);
}
a:link {
  color: rgb(86, 159, 255);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(86, 159, 255);
  background-color: transparent;
  text-decoration: none;
}

.border {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  border-style: solid;
  border-color: red;
}

.slider-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  text-align: center;
}

input[type='range'] {
  width: 100%;
  margin-bottom: 10px;
}

#darkModeBtn {
  padding: 5px 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}

#resolutionDisplay {
  font-size: 14px;
  margin-top: 10px;
}

.dark-mode {
  background-color: #111;
  color: rgb(230, 230, 230);
}

.dark-mode-border {
  border-color: rgb(114, 0, 0);
}
